.ChatsNotFound {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-inline: 1.6rem;
  -webkit-margin-before: 3.2rem;
  margin-block-start: 3.2rem;
}

.ChatsNotFound__icon {
  color: var(--primary-color-600);
  -webkit-margin-after: 2.4rem;
  margin-block-end: 2.4rem;
}

.ChatsNotFound__title {
  font-size: 1.8rem;
  -webkit-margin-after: 2.4rem;
  margin-block-end: 0.8rem;
}

.ChatsNotFound__text {
  text-align: center;
  -webkit-margin-after: 1.6rem;
  margin-block-end: 1.6rem;
  max-width: 29.2rem;
}

.ChatsNotFound__btn {
  width: auto;
  padding-inline: 1.6rem;
}
