.Header {
  position: -webkit-sticky;
  position: sticky;
  inset-block-start: 0;
  padding: 2.4rem;

  &__title {
    font-family: var(--font-family);
    font-size: 2.4rem;
    font-weight: 600;
    text-align: center;
    color: var(--grayscale-color-500);
  }

  @media (max-width: 767px) {
    padding: 1.6rem;
  }
}
