.Message {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0.8rem 1.6rem;
  -webkit-border-after: 0.8rem;
  border-block-end: 0.8rem;
  border-radius: var(--border-radius-md);

  &--user {
    -webkit-margin-start: auto;
    margin-inline-start: auto;
    background-color: var(--grayscale-color-100);
  }
}
