.Modal {
  position: relative;
  margin: auto;
  border: none;
  border-radius: var(--border-radius-sm);
  outline: none;
  z-index: 1000;

  &__inner {
    width: 100%;
    max-width: 46rem;
    background-color: var(--grayscale-color-50);
  }

  &::-webkit-backdrop,
  &::backdrop {
    background-color: rgba(41, 41, 41, 0.2);
  }
}
