.Modal {
  position: relative;
  width: 46rem;
  border-radius: var(--border-radius-sm);
  background-color: var(--grayscale-color-50);
  z-index: 1000;

  &__inner {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  &::-webkit-backdrop,
  &::backdrop {
    background-color: rgba(41, 41, 41, 0.2);
  }
}
