.VerifyCodeForm {
  position: relative;
}

.VerifyCodeForm__inputs {
  display: flex;
  justify-content: center;
  gap: 1.6rem;
  margin-block: 2rem;
}

.VerifyCodeForm__button {
  border-radius: var(--border-radius-lg);
}
