.UpdateProfileModal {
  position: relative;

  &__header span:hover {
    background-color: var(--grayscale-color-100);
    border-radius: var(--border-radius-sm);
  }

  &__body {
    padding-block: 3.2rem 1.6rem;
    padding-inline: 1.6rem;
  }
}
