.HomeLayout {
  display: flex;
  flex-direction: column;
  height: 100%;

  &__container {
    flex: 1;
  }

  &__box {
    display: flex;
    flex-direction: column;
    flex: 1;
  }

  &__main {
    display: flex;
    flex-direction: column;
    flex: 1;
  }

  &__content {
    flex: 1;
    padding: 1.6rem;
  }
}
