.Btn {
  width: 100%;
  font-family: var(--font-family);
  font-weight: 700;
  line-height: 150%;
  border: 0;
  border-radius: var(--border-radius-sm);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  transition: all 250ms;

  /* variants */
  &--primary {
    background: var(--primary-color-600);
    color: var(--grayscale-color-50);

    &:hover {
      background: var(--primary-color-700);
    }

    &:focus-visible {
      outline: 2px solid var(--primary-color-700);
      outline-offset: 2px;
    }
  }

  /* sizes */
  &--sm {
    padding: 0.8rem 1.2rem;
    font-size: 1.2rem;
  }

  &--md {
    padding: 1.2rem 1.6rem;
    font-size: 1.4rem;
  }

  &--lg {
    padding: 1.2rem 2.4rem;
    font-size: 1.6rem;
  }

  &:disabled {
    opacity: 0.5;
    pointer-events: none;
  }
}
