.Input {
  width: 100%;
  padding: 1.2rem 1.6rem;
  line-height: 150%;
  border: 1px solid var(--grayscale-color-200);
  border-radius: var(--border-radius-sm);
  font-family: var(--font-family);

  &::placeholder,
  &:placeholder-shown {
    color: var(--grayscale-color-500);
  }

  &:focus-visible {
    outline: 2px solid var(--primary-color-500);
    border-color: var(--primary-color-500);
  }

  &--error {
    border: 1px solid var(--feedbackRed-color-500);
  }
}
