.VerifyCodeModal > .Modal__inner {
  max-width: 42rem;
}

.VerifyCodeModal__inner {
  padding: 3.2rem;
}

@media (max-width: 479px) {
  .VerifyCodeModal__inner {
    padding: 3.2rem 1.6rem;
  }
}

.VerifyCodeModal__title {
  font-size: 2.4rem;
  -webkit-margin-after: 0.8rem;
  margin-block-end: 0.8rem;
  color: var(--grayscale-color-950);
}

.VerifyCodeModal__text {
  font-size: 1.6rem;
  line-height: 150%;
  color: var(--grayscale-color-600);
}

.VerifyCodeModal__form {
  display: flex;
  column-gap: 1.6rem;
  margin-block: 4.8rem;
}

@media (max-width: 479px) {
  .VerifyCodeModal__form {
    flex-direction: column;
    row-gap: 1.6rem;
  }
}

.VerifyCodeModal__resendButton {
  border-radius: var(--border-radius-lg);
}
