.Home {
  display: flex;
  flex-direction: column;
  grid-column: 3 / 13;
}

@media (max-width: 991px) {
  .Home {
    grid-column: 1;
  }
}

.Home__box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1 1 0;
}

.Home__box-logo {
  width: 9.2rem;
  height: 9.2rem;
}

.Home__content {
  padding-inline: 0.8rem;
}

.Home__text {
  font-family: var(--font-family);
  font-size: 1.2rem;
  text-align: center;
  -webkit-margin-before: 0.8rem;
  margin-block-start: 0.8rem;
  padding-block: 0.8rem;
}
