.Home {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex: 1;

  &__box {
    display: none;

    @media (max-width: 1023px) {
      display: block;
      width: 100%;
      height: 100%;
    }
  }

  &__header {
    padding: 1.6rem;
  }

  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 72rem;
    margin-inline: auto;
  }

  &__addChat {
    & > .AddChat__icon {
      color: var(--grayscale-color-500);
    }

    &:active {
      background-color: var(--grayscale-color-100);
    }
  }

  &__box-2 {
    width: 100%;
    padding-inline: 0.8rem;
  }

  &__wrapper {
    width: 100%;
    max-width: 72rem;
    margin-inline: auto;

    @media (max-width: 767px) {
      max-width: 100%;
    }
  }

  &__text {
    font-size: 1.2rem;
    text-align: center;
    padding-block: 0.8rem;
  }

  @media (max-width: 1023px) {
    flex-direction: column;
    align-items: start;
    justify-content: flex-start;
  }
}
