.ChatForm {
  padding: 0.8rem 1.2rem;
  background-color: rgba(var(--textarea-bg-color), 0.5);
  border-radius: var(--border-radius-lg);

  &__inner {
    display: flex;
    column-gap: 0.8rem;
    padding-inline: 0.4rem;
  }

  &__textarea {
    height: 40px;
    max-height: 22rem;
    font-size: 1.6rem;
    border: none;
    background-color: inherit;
    padding-block: 0.8rem;
    overflow-y: hidden;

    &:focus-visible {
      outline: none;
    }
  }

  &__button {
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: flex-end;
    width: auto;
    padding: 4px;
    -webkit-margin-after: 0.4rem;
    margin-block-end: 0.4rem;
    border-radius: 50%;
  }
}
