.ChatForm {
  width: 100%;
  max-width: 64rem;
  margin-inline: auto;
  padding: 0.8rem 2.4rem;
  background-color: rgba(var(--textarea-bg-color), 0.5);
  border-radius: var(--border-radius-lg);
}

.ChatForm__form {
  display: flex;
}

.ChatForm__textarea {
  height: 40px;
  font-size: 1.6rem;
  border: none;
  background-color: inherit;
  padding-block: 0.8rem;
}

@media (max-width: 479px) {
  .ChatForm__textarea {
    height: 64px;
  }
}

.ChatForm__textarea:focus-visible {
  outline: none;
}
