.Field {
  position: relative;
  -webkit-margin-after: 2.4rem;
  margin-block-end: 2.4rem;

  &__error {
    -webkit-margin-before: 0.8rem;
    margin-block-start: 0.8rem;
    font-size: 1.2rem;
    color: var(--feedbackRed-color-500);
  }
}
