.Chat {
  padding: 0.8rem;
  border-radius: var(--border-radius-sm);
  cursor: pointer;
}

.Chat:hover,
.Chat:active {
  background-color: rgba(187, 180, 254, 0.5);
}

.Chat__title {
  font-size: 1.6rem;
  font-weight: bold;
  line-height: 150%;
}

.Chat__date {
  font-size: 1.2rem;
}
