.HomeLayout {
  height: 100%;
}

.HomeLayout__container {
  grid-template-columns: repeat(12, 1fr);
  gap: 3.2rem;
  width: 100%;
  max-width: 100%;
  height: 100%;
  padding: 1.6rem;
}

@media (max-width: 991px) {
  .HomeLayout__container {
    grid-template-columns: 1fr;
    height: 100vh;
    padding: 0;
  }
}

@media (max-width: 479px) {
  .HomeLayout__container {
    padding: 1.6rem;
  }
}
