@import "./gridSystem";
@import "./reset";

:root {
  --font-family: "Inter", sans-serif;

  /* primary */
  --primary-color-50: #f3f3ff;
  --primary-color-100: #eae9fe;
  --primary-color-200: #d8d6fe;
  --primary-color-300: #bbb4fe;
  --primary-color-400: #988afb;
  --primary-color-500: #988afb;
  --primary-color-600: #6538ef;
  --primary-color-700: #5626db;
  --primary-color-800: #4820b7;
  --primary-color-900: #3d1c96;
  --primary-color-950: #230f66;

  /* grayscale */
  --grayscale-color-50: #ffffff;
  --grayscale-color-100: #efefef;
  --grayscale-color-200: #dcdcdc;
  --grayscale-color-300: #bdbdbd;
  --grayscale-color-400: #989898;
  --grayscale-color-500: #7c7c7c;
  --grayscale-color-600: #656565;
  --grayscale-color-700: #525252;
  --grayscale-color-800: #464646;
  --grayscale-color-900: #3d3d3d;
  --grayscale-color-950: #292929;

  /* feedback colors */
  --feedbackRed-color-50: #fef2f2;
  --feedbackRed-color-100: #fee2e2;
  --feedbackRed-color-200: #ffc9c9;
  --feedbackRed-color-300: #fda4a4;
  --feedbackRed-color-400: #f97070;
  --feedbackRed-color-500: #f03838;
  --feedbackRed-color-600: #de2424;
  --feedbackRed-color-700: #bb1a1a;
  --feedbackRed-color-800: #9a1a1a;
  --feedbackRed-color-900: #801c1c;
  --feedbackRed-color-950: #460909;

  /* border-radius */
  --border-radius-xs: 0.4rem;
  --border-radius-sm: 0.8rem;
  --border-radius-md: 1.6rem;
  --border-radius-lg: 3.2rem;

  --chat-bg-color: 187, 180, 254;
  --textarea-bg-color: 239, 239, 239;
}

/* modify selection text style */
::selection {
  background-color: var(--primary-color-50);
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  display: none;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
